body{
  margin: 5px;
  min-height: 100vh;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}